body {
    margin: 0;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #000;
    background-color: #fff;
}

.doc-section h5 {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 6px 0;
  }

.doc-section {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80%;
    margin: 0 auto;
}

.doc-section .section-title {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #d7d7d7;
}

.section-block {
    padding-top: 15px;
    padding-bottom: 15px;
}

.section-block .block-title {
    margin-top: 0;
  }

.doc-section h3 {
    font-size: 20px;
    font-weight: bold;
}

.label-orange {
    background: #F88C30;
    border: 1px solid #F88C30;
    color: #fff !important;
}

.label-orange-800 {
    background: #EF6C00;
    border: 1px solid #EF6C00;
    color: #fff !important;
}

.label-green {
    background: #8BC34A;
    border: 1px solid #8BC34A;
    color: #fff !important;
}

.label-green-800 {
    background: #4CAF50;
    border: 1px solid #4CAF50;
    color: #fff !important;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}
.table-bordered {
    border: 1px solid #ddd;
  }
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border-bottom: 2px solid #000;
}

.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #ddd;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.code {
    background-color: #272822;
    color: #fff;
    padding: 7px;
}
.code .green {
    color: #a6e22e;
}